#Datos de conexión a la API
VITE_API_URL=https://dummyjson.com
VITE_API_PORT=8000
VITE_API_TIMEOUT=1000000

#Esta variable se podría utilizar por ejemplo para sacar la url de las imagenes
#Ejemplo inventado, almacenamos las imagenes de perfil de usuario en un s3 de amazon
#Dicha imagen se nombrará con el nombre del usuario + el Id por ejemplo, de esta manera podríamos formar la ruta/nombre del archivo
#Ahora resulta que amazon de viene arriba y nos roba todos los meses, migramos las fotos a cloudinary y modificando la url de esta variable
#y conservando los nombres de las imagenes no haría que tocar el código ni nada, mover imagenes y modificar ruta de variable
VITE_API_STORAGE_URL=''


#Ejemplo de variables que podría requerir la api para permitir el auth
#De esta manera si la api la usan diferentes clientes, se podría añadir una capa de control
#Pero en este ejemplo no lo uso para nada
VITE_API_CLIENT=1
VITE_API_CLIENT_PASSWORD=Ae8KLpk3nvbhO7lHhwLdf46Pat4TaPasSW0rD

#Datos de configuración de la internacionalización
VITE_DEFAULT_LOCALE=es
VITE_FALLBACK_LOCALE=en
